<%= render :partial => "header" %>

<style>
  table.documentation_table img { max-width:150px; }
  td  { padding:10px; }
</style>

<div class="documentation_section_title">
  <%= tr("API Rate Limits") %>
</div>

<div class="documentation_section">
  <p>
    <%= tr("In order to optimize the performance of our APIs and prevent apps to negatively impact other apps, we rate limit application requests: ") %>
  </p>

  <p><%= tr("The following HTTP headers are used to indicate API rate information:") %></p>

  <p>
    <table class="documentation_table">
      <tr>
        <th style="width:200px;"><%=tr("Header")%></th>
        <th style="width:350px;"><%=tr("Description")%></th>
      </tr>
      <tr>
        <td><%=tr('X-API-Rate-Limit', 'API header')%></td>
        <td><%=tr('The maximum number of requests allowed within a rate window.','API header description')%> </td>
      </tr>
      <tr>
        <td><%=tr('X-API-Rate-Remaining', 'API header')%> </td>
        <td>
          <%=tr('The number of requests remaining in the current rate window.','API header description')%>
          <%=tr('When this value goes to zero requests will be denied until the end of the current window.','API header description')%>
        </td>
      </tr>
      <tr>
        <td><%=tr('X-API-Rate-Window', 'API header')%></td>
        <td><%=tr('The window duration in seconds.', 'API header description')%></td>
      </tr>
    </table>
  </p>

  <p><%= tr("Rate limits are subject to change without notice.") %></p>

</div>

<%= render :partial => "footer" %>
